#header
  %ul
    %li
      = link_to 'VENUE', '#venue'
    %li
      = link_to 'LODGING', '#lodging'
    %li
      = link_to 'ACTIVITIES', '#activities'
    %li
      = link_to 'HOW WE MET', '#meet'
    %li
      = link_to 'RSVP', '#rsvp'

#first_photo     
  = image_tag('plitvice.jpg', width: '100%')
    
  #date
    08/15/15

#venue
  .white_section
    .sidebar
      %h4
        When
      .blurb
        Afternoon
        %br
        Saturday, August 15th, 2015
      %h4
        Where
      .blurb
        Parkdale, OR
    .left_side
      %h3 
        Clarke Mountain Estate
      %p
        Our wedding will be at the Clarke Mountain Estate. This special location is the private home of a good friend of Katie's aunt, and the grounds boast beautiful flower gardens and a fantastic view of Mt. Hood. The cocktail hour and reception will follow at the same location.
    
      %p
        The wedding and reception will both be outdoors, and we expect it to be sunny and warm. Parkdale is about 20 minutes from the quaint town of Hood River. 
      
    .clear
= image_tag('clarkes.jpg', width: '100%')


#lodging
  .white_section
    .sidebar
      %h4
        Hotels
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Hood River Hotel', 'http://www.hoodriverhotel.com/', target: '_blank')
            .subnote
              Rooms start at $200.
          %li
            = link_to('Vagabond Lodge', 'http://www.vagabondlodge.com/', target: '_blank')
            .subnote
              Rooms start at ?.
          %li
            = link_to('Columbia Gorge Hotel', 'http://www.columbiagorgehotel.com/', target: '_blank')
            .subnote
              Rooms start at $269.
          %li
            = link_to('Comfort Suites', 'http://www.comfortsuites.com/hotel-hood_river-oregon-OR066', target: '_blank')
            .subnote
              Rooms start at $209. 
          %li
            = link_to('Hood River Inn', 'http://www.hoodriverinn.com/', target: '_blank')
            .subnote
              Rooms start at $140? 
              %br
              No reservations until 60 days prior. 
          %li
            = link_to('Hood River Suites', 'http://www.hoodriversuites.com/', target: '_blank')
            .subnote
              Rooms start at $152.
          %li
            = link_to('Columbia Cliff Villas', 'http://www.columbiacliffvillas.com/', target: '_blank')
            .subnote
              Rooms start at $199.
      %h4
        Bed & Breakfasts
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Hood River BnB', 'http://www.hoodriverbnb.com/', target: '_blank')
          %li
            = link_to('Oak Street Hotel', 'http://www.oakstreethotel.com/', target: '_blank')
      %h4
        Homes
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Spreadsheet of homes ', 'https://docs.google.com/spreadsheets/d/1twnG8jPVD6hZ6t2-D8_U3ryPT-EFOf0NLeEu337-mgQ/edit#gid=0', target: '_blank')
          %li
            = link_to('Hood River Vacations', 'http://www.hrvacations.com/', target: '_blank')
          %li
            = link_to('VRBO', 'http://www.vrbo.com/vacation-rentals/usa/oregon/mt-hood-the-gorge/hood-river', target: '_blank')
          %li
            = link_to('HomeAway', 'http://www.homeaway.com/vacation-rentals/oregon/hood-river/r8186', target: '_blank')
          %li
            = link_to('Vacasa', 'https://www.vacasa.com/usa/Oregon/Hood-River/?submit=Search&wz=2&search=Hood+River%2C+OR&neighbor=1&arrival=&departure=&nights=&flexStart=&flexEnd=&adults=1&children=0&pets=0&minrate=0&maxrate=100000&minbeds=0&maxbeds=100&minbaths=1&maxbaths=100&display=tile&gridS=01%2F31%2F2015&RegionID=3&CityID=28', target: '_blank')
    .left_side
      %h3
        Lodging
      %p
        Hood River during the summer is 
        %i very
        popular! This means that it would be best to book housing 
        %span.important
          as soon as possible.
      %p
        Most homes for rent require a four (or more) night minimum during the summer. If you can stay that long, we think you'll find plenty to do! On the right, we have a spreadsheet that has quick summaries of many of the houses near downtown Hood River. You can find more houses online, with the most popular sites listed. Note that there is significant overlap between some of the sites - #{link_to 'Hood River Vacations', 'http://www.hrvacations.com/'} lists many of its properties on #{link_to('HomeAway', 'http://www.homeaway.com/')} and #{link_to 'VRBO', 'http://www.vrbo.com/'}.

    .clear
= image_tag('christmas.jpg', width: '100%')
#activities
  .white_section
    .sidebar
      %h4
        Hiking
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Multnomah Falls', 'http://www.portlandhikersfieldguide.org/wiki/Multnomah_Falls_Hike', target: '_blank')
          %li
            = link_to('Columbia Gorge Waterfall Loop', 'http://www.portlandoctopus.com/hike-the-columbia-gorge-waterfall-loop/', target: '_blank')
          %li
            = link_to('Tamanawas Falls', 'http://thegorgeismygym.com/tamanawas-falls/', target: '_blank')
          %li
            = link_to('Dog Mountain', 'http://thegorgeismygym.com/dog-mountain/', target: '_blank')
      %h4
        On the water
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Windsurfing', 'http://hoodriver.org/windsurfing', target: '_blank')
          %li
            = link_to('Kiteboarding', 'http://hoodriver.org/kiteboarding', target: '_blank')
          %li
            = link_to('Whitewater rafting', 'http://hoodriver.org/rafting-kayaking', target: '_blank')
          %li
            = link_to('Stand-up paddleboarding', 'http://hoodriver.org/standup-paddle-boarding', target: '_blank')
      %h4
        Breweries
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Pfriem Family Brewers', 'http://pfriembeer.com', target: '_blank')
          %li
            = link_to('Double Mountain Brewery', 'doublemountainbrewery.com', target: '_blank')
          %li
            = link_to('Full Sail Brew Pub', 'http://www.yelp.com/biz/full-sail-brew-pub-hood-river-2', target: '_blank')
      %h4
        Other
      .blurb
        %ul.sidebar_links
          %li
            = link_to('Fruit Loop', 'http://hoodriverfruitloop.com/', target: '_blank')
          %li
            = link_to('Scenic Train', 'https://www.mthoodrr.com/', target: '_blank')
    .left_side
      %h3
        Activities
      %p
        There are an amazing variety of activities to do in Hood River. 
      %p
        = image_tag('railroad.jpg', width: '290px', class: 'left_picture')
        Downtown Hood River has a number of great restaurants, shops, wineries, and breweries. If you venture a bit further out of town, you can find plenty more fun things to do - world-class wind surfing and kite boarding, mountain biking, hiking, and a beautiful drive through the fruit orchards, to name just a few. Find more info using the links on the right.  
    .clear

= image_tag('shadows.jpg', width: '100%')  

#meet
  .white_section
    %h3 
      How We Met
    %p
      They met at Starbucks, much to Katie's chagrin.
    %p
      It's the classic "we met at a wedding" story, but really, they should have met sooner. They had been at a few of the same events without ever meeting - for example, a dragon boat racing festival in Vancouver B.C. They finally met at Brent (Evan's childhood friend and Katie's cousin) and Julia's wedding in Monterey in 2012.
    %p
      The wedding was on a Friday, and they both needed to work in the morning. Separately, they headed to the Starbucks near the hotel for the free wifi. As he passed by her table, Katie recognized Evan from the party the night before and he sat down next to her. They hit it off, and needless to say, not much work was done that morning.
    
    %p
      At the reception that night, Brent's dad was playing matchmaker. "Evan, she is so smart." "Katie, there's only one guy in here for you." And so on. By the end of the night, Katie was inviting Evan into the hot tub with her for a late night soak. He said no. Prude! 
      
    %p
      However, Evan was working the long play. He bought a plane ticket up to Portland two weeks later to see her. After a great weekend together, they were smitten. Flash forward a year of long distance dating. Katie moved down to San Francisco, and the couple moved in to a cute apartment in Noe Valley.
    
    %p
      = image_tag('proposal.jpg', width: '290px', class: 'left_picture')
      In October 2014, Evan popped the question. It was a very creative proposal. Evan channeled Katie's family's craftiness and gave Katie a series of four handmade gifts over the course of six weeks. After he gave her the last one, he asked if she had solved the puzzle. "What puzzle?" It turned out, each gift represented a word in that age-old question. After a hint or two, Katie put all the pieces together, and Evan voiced the words: "Wheel ewe Mary me?"
      
    %br  
    
= image_tag('starbucks.jpg', width: '100%')

#rsvp
  .white_section
    %h3
      RSVP
    #rsvp_form
      = form_for(@rsvp, remote: true) do |f|
        .field
          = f.text_field :name, placeholder: 'Your name'
        .field
          = f.text_field :guests, placeholder: 'Any guests?'
        .field#attending
          %label
            %span.label
              Attending
            = f.check_box :attending, class: 'ios-switch' 
            %span.switch
    
        .field
          = f.text_area :message, placeholder: 'Any message for us?'
  
        = f.submit 'RSVP'
#closing_image      
  = image_tag('bend.jpg', width: '100%')

      
